@model ItemViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br />
<h2 class="text-danger"> Are You Sure That You Want To Delete This Item</h2>

<br />
<h3> @Model.Name </h3>
<br />
<div>
    <img src="@Model.image.Path" width="500" height="390">
</div>

<br />
@if (Model.Description is not null)
{
    <div style="background-color:lightblue"> <p class="text-black"> @Model.Description </p></div>

}
else
{
    <div style="background-color:lightblue"> <p class="text-black"> NO Description For This Item </p></div>
}

<br />
<div style="background-color:lightblue"> <p class="text-black"> Units In Stock is @Model.UnitsInStock </p></div>

<br />
<div style="background-color:lightblue"> <p class="text-black"> price of this item is  @Model.Price </p></div>

<br />

<br />


<form asp-action="Delete" method="post">
    <input asp-for="@Model.image.Id" hidden/>
    <input asp-for="@Model.image.ItemID" hidden />
    <input asp-for="@Model.image.Path" hidden />
    
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
<br />
<div> <a asp-action="Update" class="btn btn-info" asp-route-id="@Model.Id"> Update Item</a> </div>
<br />
<div> <a asp-action="Index" class="btn btn-success"> Back To Main Page</a> </div>
