@model ItemViewModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<form asp-action="Update" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control"/>
        <span asp-validation-for="@Model.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <input asp-for="@Model.Description" class="form-control" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <input asp-for="@Model.Price" class="form-control" />
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Category"></label>
        <input asp-for="@Model.Category" class="form-control" />
        <span asp-validation-for="@Model.Category" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="@Model.UnitsInStock"></label>
        <input asp-for="@Model.UnitsInStock" class="form-control" />
        <span asp-validation-for="@Model.UnitsInStock" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.image.ItemImage"></label>
        <input type="file" asp-for="@Model.image.ItemImage" class="form-control" />
        <span asp-validation-for="@Model.image.ItemImage" class="text-danger"></span>
    </div>

    <div class="form-group">
        
        <input  asp-for="@Model.image.Id" class="form-control" hidden />
       
    </div>

    <div class="form-group">

        <input asp-for="@Model.image.ItemID" class="form-control" hidden />

    </div>

    <div class="form-group">
       
        <input  asp-for="@Model.image.Path" class="form-control" hidden/>
        
    </div>
    <br />
    <div class="form-group">   
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>

    @section ValidationScrepts
    {
       <partial name="_ValidationScriptsPartial">  </partial>
    }