@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<h1>ResetPassword</h1>

<div asp-validation-summary="All" style="text-align:center" class="text-danger"> </div>
<div class="agileits-top" style=" display:flex; justify-content:center">
    <form asp-action="ResetPassword" method="post">
       
        <input asp-for="@Model.Email" type="hidden" style="width:400px;" hidden />
       

       
        <input asp-for="@Model.Token" type="hidden" style="width:400px; " hidden />
       

        <label asp-for="@Model.Password"> </label>
        <input asp-for="@Model.Password" type="Password" style="width:400px; " />
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
        <br />
        <br />
        <label asp-for="@Model.ConfirmPassword"> </label>
        <input asp-for="@Model.ConfirmPassword" type="Password" style="width:400px; " />
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        <input type="submit" value="Save" class="btn btn-info" >
    </form>
</div>

@section ValidationScripts
    {
    <partial name="_ValidationScriptsPartial">   </partial>
}