@model List<UserInRoleViewModel>
@{
    ViewData["Title"] = "AddRemoveUsers";
    var roleId = (string)ViewBag.RoleId;
}

<h1>AddRemoveUsers</h1>

<form asp-action="AddRemoveUsers"  method="post">

    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="form-group">
            <input type="hidden" asp-for="@Model[i].UserName" />
            <input type="hidden" asp-for="@Model[i].UserId" />
            <label class="col-form-label">
                <input type="checkbox" asp-for="@Model[i].IsSelected" />
                @Model[i].UserName
            </label>
        </div>
    }



           <input name="roleId" value="@roleId" hidden />
    <br />
   
    <div>
        <input type="submit" value="Update" class="btn btn-success" />
   
        <a asp-action="Index" class="btn btn-info">BackToList</a>
    </div>

</form>
